.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    flex-direction: row;
  }

  &__title {
    font-family: Unica One, sans-serif;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #030303;
    margin: 0 0 0.625em;

    @include for-large-up {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    background-color: transparent;

    @include for-large-up {
      justify-content: right;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    @include for-large-up {
      margin-right: 10px;
    }
  }

  &__sort {
    display: flex;
    flex-direction: column;
  }

  &__label {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 13px;
    width: 150px;
  }

  &__select {
    font-size: 16px;
    font-family: Karla, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #666;
    height: 37px;
  }
}
