.products {
  display: flex;
  flex-direction: row;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 50%;
  background-color: white;
  border: 0.5px solid #f7f7f7;
}
