.products {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  flex-grow: 2;

  @include for-large-up {
    flex-grow: 3;
  }
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 50%;
  background-color: white;
  border: 0.5px solid #f7f7f7;
  padding: 25px;
  align-items: center;

  &____img-wrapper {
    min-width: 235px;
  }

  &__info {
    text-align: center;
    padding: 10px;
  }

  &__sale {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 10px;
    background-color: #006eff;
    color: white;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  &__price {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}
